<div class="flex flex-col h-full px-1 md:px-4">
  <div class="px-3 pt-4">
    <div class="flex gap-2 overflow-x-auto pb-2 pt-2 no-scrollbar -mx-2 px-2 mask-fade-right">
      @if (selectedCategoryIds().length > 0) {
      <div class="flex flex-col items-center flex-shrink-0">
        <button
          (click)="clearCategoryFilters()"
          class="w-6 h-6 rounded-2xl flex items-center justify-center transition-all duration-300 border-2 bg-red-50 border-red-200 text-red-500 hover:bg-red-100 active:scale-90"
        >
          <i-tabler name="x" class="w-6 h-6"></i-tabler>
        </button>
        <span class="text-[9px] font-bold text-red-400 mt-1 uppercase tracking-tighter">Reset</span>
      </div>

      <div class="w-[1px] h-8 bg-surface-200 flex-shrink-0 mr-1"></div>
      } @for (cat of metadataService.categories(); track cat.id) {
      <div class="flex flex-col items-center flex-shrink-0">
        <button
          #btn
          (click)="toggleCategoryFilter(cat.id)"
          (mouseenter)="op.show($event)"
          (mouseleave)="op.hide()"
          class="w-8 h-8 rounded-2xl flex items-center justify-center transition-all duration-300 border-2"
          [ngClass]="
            selectedCategoryIds().includes(cat.id)
              ? 'bg-primary-500 border-primary-600 text-white scale-110 shadow-md'
              : 'bg-surface-50 border-transparent text-surface-500'
          "
        >
          <i-tabler [name]="cat.icon" class="w-6 h-6"></i-tabler>
        </button>

        <p-popover #op>
          <div class="px-2 py-1 text-xs font-bold uppercase tracking-wider">
            {{ cat.label }}
          </div>
        </p-popover>
      </div>
      } @empty {
      <p>No categories</p>
      }
    </div>
  </div>

  <div class="px-3 pt-4 pb-2">
    <h1 class="text-lg font-handwriting">Calendar</h1>
  </div>

  <div class="">
    <div class="rounded-[20px]">
      <p-datepicker
        [inline]="true"
        [(ngModel)]="selectedDate"
        [showOtherMonths]="false"
        (onMonthChange)="handleMonthChange($event)"
        class="w-full border-none !flex flex-col"
      >
        <ng-template pTemplate="date" let-date>
          @if (!isLoading()) {
          <div
            class="relative w-8 h-8 flex items-center justify-center transition-all duration-200 rounded-full"
            [class.border-2]="getEntryCount(date) > 0"
          >
            <span class="text-sm font-medium">{{ date.day }}</span>

            @if (getEntryCount(date); as count) { @if (count > 0) {
            <div
              class="absolute -top-1 -right-1.5 w-4 h-4 bg-primary-500 text-[10px] font-bold flex items-center justify-center rounded-full shadow-sm z-10 border-2"
            >
              {{ count }}
            </div>
            } }
          </div>
          }
        </ng-template>
      </p-datepicker>
    </div>
  </div>
  @if (selectedDate()) {
  <div class="flex-1 overflow-y-auto px-4 pb-24 mt-4 custom-scrollbar">
    <div class="flex items-center justify-between mb-6 pl-2">
      <div class="flex items-center gap-3">
        <div class="flex flex-col">
          <span class="text-[10px] uppercase tracking-widest text-surface-400 font-bold"
            >Diario del</span
          >
          <h2 class="text-xl font-black leading-none">
            {{ selectedDate() | date : 'dd MMM yyyy' }}
          </h2>
        </div>

        <span
          class="flex items-center justify-center h-6 px-2 rounded-lg bg-primary-500 text-[12px] font-black"
        >
          {{ selectedDayEntries().length }}
        </span>
      </div>

      <button
        pButton
        class="p-button-rounded w-12 h-12 shadow-xl transition-transform active:scale-90"
        (click)="isInputOpen.set(true)"
      >
        <i-tabler name="plus" class="w-6 h-6"></i-tabler>
      </button>
    </div>

    @if (selectedDayEntries().length > 0) {
    <app-journal [entries]="selectedDayEntries()" />
    } @else {
    <div class="flex flex-col items-center justify-center py-12 opacity-40">
      <i-tabler name="notes" class="w-12 h-12 mb-2"></i-tabler>
      <p class="text-sm">No notes found</p>
    </div>
    }
  </div>
  }
</div>

<app-ui-dialog
  [(visible)]="isInputOpen"
  [header]="'Add new note - ' + (selectedDate() | date : 'dd/MM')"
>
  <app-note-input
    [dateToSetISOFormat]="getLocalDateISO()"
    (newItemAdded)="pushNewNoteIntoEntries($event)"
  />
</app-ui-dialog>
