    :host ::ng-deep .p-datepicker table td > span {
      width: 2.5rem; 
      height: 2.5rem;
      padding: 0;
      display: flex; 
      align-items: center;
      justify-content: center;

      border-radius: 0.7rem;
    }