<div>
  <form [formGroup]="noteForm">
    <!-- RIGA 1: MultiSelect -->
    <div class="flex grid gap-2 mb-3">
      <div class="flex-1">
        <p-multiSelect
          [options]="categories()"
          formControlName="selectedCategories"
          optionLabel="label"
          placeholder="Categoria"
          display="chip"
          [showToggleAll]="false"
          selectionLimit="1"
          styleClass="w-full text-sm !rounded-xl !border-gray-200"
          panelStyleClass="!rounded-xl !shadow-lg"
          appendTo="body"
        >
          <ng-template let-item pTemplate="item">
            <div class="flex items-center gap-2">
              <i [class]="'pi ' + (item.icon || 'pi-tag')"></i>
              <span>{{ item.label }}</span>
            </div>
          </ng-template>
        </p-multiSelect>
      </div>

      <div class="flex-1">
        <p-multiSelect
          [options]="tags()"
          formControlName="selectedTags"
          optionLabel="label"
          placeholder="Tag"
          display="chip"
          [showToggleAll]="false"
          styleClass="w-full text-sm !rounded-xl !border-gray-200"
          panelStyleClass="!rounded-xl !shadow-lg"
          appendTo="body"
        />
      </div>
    </div>

    <!-- RIGA 2: Input + Button -->
    <div class="flex gap-2 h-32">
      <textarea
        pInputTextarea
        formControlName="content"
        placeholder="Scrivi una nota..."
        class="flex-1 !resize-none !rounded-xl !border-gray-200 !bg-gray-50 focus:!bg-white focus:!border-primary-400 !py-3 !text-sm custom-scrollbar"
      ></textarea>

      <button
        pButton
        [disabled]="noteForm.invalid"
        (click)="onSubmit()"
        icon="pi pi-chevron-right"
        class="!w-14 !h-full !rounded-xl !bg-white !text-gray-800 !border !border-gray-200 hover:!bg-primary-50 hover:!border-primary-500 hover:!text-primary-600 shadow-sm transition-all"
      ></button>
    </div>
  </form>
</div>
